/*Styles for contact formulier*/

input[type=text], select {
    width: 175px;
	height: 30px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 150px;
	height: 35px;
    background-color: #4CAF50;
    color: white;
	background-color: orange;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-left: -150px;
}
input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.twitter{
	float:left;
	margin-left:  0px;
}
.facebooklikebutton{
	float: left;
	margin-left: 250px;
}

.TheForm{
	margin-left: 15px;
	margin-top: 40px;
	margin-top: -10px;
}

.TekstContactFormulier{
	color: gray;
}

nav ul li a:hover{
	background-color: grey;
}
.TheForm{
	float: left;
}

.TheForm2{
	padding-top: 90px;
	margin-left: -150px;
}

.TheForm3{
	margin-top: 20px;
}

.ExtraKeuzes{
	margin-top: 5px;
	padding-bottom: -70px;
}

.Checkboxes1{
	padding-top: px;
	width: 10px;
	height: 10px;
}

.Checkboxes2{
	
	width: 10px;
	height: 10px;
}

.Checkboxes3{
	
	width: 10px;
	height: 10px;
}

.Checkboxes4{
	
	width: 10px;
	height: 10px;
}

.submit{
	margin-left: 500px;
	margin-top: 30px;
}


.
	-moz-border-radius: 4px;capbox {
	background-color: #92D433;
	border: #B3E272 0px solid;
	border-width: 0px 12px 0px 0px;
	display: inline-block;
	*display: inline; zoom: 1; /* FOR IE7-8 */
	padding: 8px 40px 8px 8px;
	}

#bijeenkomst{
  height: 45px;
  width: 250px;
}
.capbox-inner {
	font: bold 11px arial, sans-serif;
	color: #000000;
	background-color: #DBF3BA;
	margin: 5px auto 0px auto;
	padding: 3px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#CaptchaDiv {
	font: bold 17px verdana, arial, sans-serif;
	font-style: italic;
	color: #000000;
	background-color: #FFFFFF;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

#CaptchaInput { margin: 1px 0px 1px 0px; width: 135px; }
