
/* Ipad Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

}




/* Portrait mobile */
@media only screen and (max-width: 376px) {
    body{
        font-size: 150%;
        max-width: 100vw;
        margin:0;
        padding:0;
    }
    .HeaderSentence{
        width: 100%;
        margin:0;
        padding:0;
    }
    .main{
        width: 100vw;
        padding:0;
        box-shadow: none;
        margin:0;
    }
    .header{
        padding:0;
    }
    /*nav ul li{
        width: 100vw;
        float: none;
        text-align: center;
        font-size: 175%;
    }*/
    .header img{

    }
    .text{
        width: 100%;
    }
    .slider{
        float:none;
        width:100%;
        padding:0;
        margin: 0;
    }
    .text_left{
        float: none;
        width:100%;
        margin: 0;
        padding: 5%;
        font-size: 100%;
    }
    .text_left p{
        font-size: 100%;
        font-family: none;
    }
    /*nav{
        height:auto;
        float: none;
    }
    nav ul li{
        padding:0;
        margin:0;
    }*/
    .home_footer_media{
        margin-top: 90%;
    }
    .slider_photos{
       margin-left: 5%;
        width:auto;
        float: none;
    }
    .mySlides{
        width:95% !important;
        margin: 0 auto;
    }
    .maps{
        width:100%;
    }
    .recensiewrite{
        width: 100vw !important;
        float: none;
    }
    .recensies{
        width:100% !important;
        padding:0 !important;
    }
    .recensie{
        width:100% !important;
    }
    #message{
        height:70px;
    }
    #button {
        width: 100% !important;
        font-size: 150%;
    }
    .header img{
        float: none;
        margin:0 auto;
        margin-left: 20%;
        height:50px;
        width:auto;
    }
    .recensie_bericht{
        width:99%;
        margin:0;
        padding:0;
    }
   /* footer{
       margin-top: 105% !important;
    }*/
    .facebooklikebutton{
        margin-left: 0px !important;
    }
    input[type=submit]{
        margin:0 auto;
    }
    .togglenav{
        display: block;
    }
    .logo{
        width: 70vw !important;
        margin: 0 auto !important;
        height: auto !important;
        display: block;
    }
    .header img{
        width: 30%;
        height:auto;
        margin:0 auto;
        display: block;
    }
    .slider_container{
        height:50vh;
    }
    .vacatures{
        padding:15px !important;
    }
    .text_left{
        padding-left:2%;
        max-width: 90%;
    }

    .modal-content img{
        max-width: 100vw;
        margin: 0px;
        padding:0px;
    }
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        display:block;
        height:auto;
    }
    .topnav {
        display: none;
    }
    .topnav li{
        width:100%;
        margin:0;
        padding:0;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }


}