@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body{
    background-image: url("../img/background1.jpg");
    background-repeat: no-repeat;
    background-color: #eeeeee;
    background-size: 100vw 140vh;
    padding: 0;
    margin:0;
}

.main{
    width:60vw;
    height:auto;
    background-color: white;
    box-shadow: 0 0 5px grey;
    margin: 0 auto;
}
.header{
    height:auto;
    width:100%;
    padding:1%;
}
.HeaderSentence{
    background-color: green;
    height:auto;
    margin:2.5%;
    color: #fff;
    padding-left: 2%;
    padding-right:1%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 38%;
    display: inline-block;
}
.header img{
    float: right;
    height:auto;
    width: 7%;

    margin-right: 9%;
}
.image_margin{
    margin-top: 6%;
    margin-right: 1%;
}
.logo {
    width: 20% !important;
    height: 100%;
    float: right;
    margin-left: 2%;
}
nav ul li{
    float: left;

    list-style-type: none;
}
nav{
    background-color: #c2eac2;
    height:5vh;
    width:100%;
    float: left;

}
nav ul{
    padding:0;
    margin:0;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Merriweather Sans', sans-serif;
}
nav ul li {
    margin-left: 5%;
    height:5vh;
    line-height: 5vh;
}
nav ul li:hover{
    background-color: lightgreen;
}
.togglenav{
    display: none;
}
.text{
    width:40%;
    padding: 5%;
    float: left;
}
.slider{
    width:43%;
    float: right;
    height:auto;
    margin-top: 5%;
    margin-right: 5%;
}
.slider_photos{
    width: 50%;
    height:auto;
    position: absolute;
    float: right;
}
.slider_container{
    display: inline;
}
.button-left{
    float: left;
    display: block;
    height:100%;
    width: 5%;
    position: absolute;
    background-color: red;
    border: none;
    background: red;
    background: -webkit-linear-gradient(right, transparent , white);
    background: -o-linear-gradient(left, transparent, white);
    background: -moz-linear-gradient(left, transparent, white);
    background: linear-gradient(to left, transparent , white);
    border: none;
}
.button-right{
    float: right;
    width:5%;
    margin-left: -5%;
    height:100%;
    position: absolute;
    background: red;
    background: -webkit-linear-gradient(right, white , transparent);
    background: -o-linear-gradient(left, white, transparent);
    background: -moz-linear-gradient(left, white, transparent);
    background: linear-gradient(to left, white , transparent);
    border: none;
}
.mySlides{
    float: left;
    width: 50% !important;
}
.myslides img{
    max-width: 100%;
    max-height: 100%;
}
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.img {
    margin: 5px;
    border: 1px solid #ccc;
  display: inline-block;
    width: 180px;
    height:25vh;

}
.img img {
    width:100%;
    margin: 0 auto;
}
.img .desc {
    padding: 15px;
    text-align: center;
}
.modal-content{

    display: table;
    margin: 0 auto;
    min-width: 10px;
    min-height: 30%;
    max-height: 300px;
    padding: 0 0;


}
.modal-text{
    background-color: lightgrey;
    padding-top:10px;
}
.modal-text p{
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.modal-content img{
    margin:0 auto;
    display: block;
}
.gallery{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}
.gallery .img img{
    height: 50%;
}
footer {
    border-top: 2px solid #c2eac2;
}

.nofloat{
    float: none;
}
.facebooklikebutton{
    margin-right: 10px;
}
.twitter{
    margin-left:  0px;
}
.facebooklikebutton{
    float: left;
    margin-left: 250px;
}
.maps{
    width:50%;
    float: right;
    margin-top: 5%;
    padding-right: 4%;
}
button:focus {outline:0;}
.text_left{
    width: 30%;
    padding-left: 5%;
    margin-bottom: 10% !important;
    display: inline-block;
    margin-left:5%;
    margin-right: 5%;
    margin-top: 5%;
    padding:3%;
    color: #fff;

    background-color: #1ABC9C;
}
.r_naam{
    font-size: 150%;
    font-family: 'Roboto Mono', monospace;
}
.text_left p{
    margin:0;
    padding:0;
    padding-right: 5%;
    font-family: 'Roboto Mono', monospace;
}
.home_text{
    padding-top: 0;
    width:40%;

    margin-left: 1%;
}

.welcome_text{
    color: grey;
    font-size: 200%;
    margin: 1%;
}
.recensie_bericht{
    height:35vh;
}
.recensie_naam{
    width:520%;
}
.recensiewrite{
    width:50%;
}

.recensie {
    font-family: 'Roboto Mono', monospace;
    padding: 5%;
}
.sent_message{
    position: relative;
    width:10vw;
    text-align: center;
    margin-left: 0%;
    margin-top: 15%;
    padding: 10px 0 10px 0;
    background-color: green;
    color: #fff;
}.active{
    background-color: white;
 }




input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 45%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 225px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.leftside{
    width: 50%;
    float: left;
    padding-left: 15px;
    height: 459.5px;

}

.rightside{

    float: right;
    padding-top: 7.5%;
    width: 45%;
}
@media only screen and (max-width: 500px) {

    .rightside{
        float:none;
        padding-top: none;
        margin-left:2%;
        width:100%;
    }

    .leftside{
        float: none;
        height:auto;
        width:100%;
    }

    footer{
        padding-top: 900px;
    }

}

























































































































