
/* Ipad Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape)
and (-webkit-min-device-pixel-ratio: 1) {

}




/* Portrait mobile */
@media only screen and (max-width: 376px) {
    .HeaderSentence{
        width: 100%;
        margin:0;
    }
    .main{
        width: 100vw;
        padding:0;
        box-shadow: none;
        magin:0;
    }
    .header{
        padding:0;
    }
    nav ul li{
        width: 100vw;
        float: none;
        text-align: center;
        font-size: 175%;
    }
    .header img{
        margin-right: 20%;
    }
    .text{
        width: 100%;
    }
    .slider{
        float:left;
        width:100%;
    }
}