body{
    background-color: #eeeeee;
    padding: 0;
    margin:0;
}
.main{
    width:60vw;
    height:200vh;
    background-color: white;
    box-shadow: 0 0 5px grey;
    margin: 0 auto;
}
.header{
    height:auto;
    width:100%;
    padding:1%;
}
.HeaderSentence{
    background-color: green;
    height:auto;
    margin:2.5%;
    color: #fff;
    padding-left: 2%;
    padding-right:1%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 38%;
    display: inline-block;
}
.header img{
    float: right;
    height:auto;
    width: 7%;

    margin-right: 9%;
}
.image_margin{
    margin-top: 6%;
    margin-right: 1%;
}
.logo {
    width: 20% !important;
    height: 100%;
    float: right;
    margin-left: 2%;
}
nav ul li{
    float: left;

    list-style-type: none;
}
nav{
    background-color: lightgray;
    height:auto;
    width:100%;
    float: left;
    border: 1px solid black;
}
nav ul{
    padding:0;
}
nav ul li a{
    text-decoration: none;
    color: black;
    padding-left: 5%;
}
nav ul li {
    padding-left: 5%;
}
.text{
    width:40%;
    padding: 5%;
    float: left;
}
.slider{
    background-color: green;
    width:50%;
    float: right;
    height:50vh;
}

